{{extend 'layout.html'}}

<div class="container">
  <div class="content">
    <h1>Contact</h1>
    <p>Nicolas Davidenko: ndaviden@ucsc.edu</p>
    <p>John Collins: jmicahc@gmail.com</p>
    <p>&nbsp;</p>
    <p>Mailing address:</p>
    <p>1156 High Street</p>
    <p>Social Sciences II</p>
    <p>Santa Cruz, CA 95064</p>
    <p>&nbsp;</p>
    <p>Phone: 650-248-7937</p>
  <!-- end .content --></div>
  <div class="footer">
    <p><em>Psychology Department</em></p>
    <p><em>University of California Santa Cruz</em></p>
    <!-- end .footer --></div>
<!-- end .container --></div>
