{{extend 'layout.html'}}

<div class="content">
    <h1>Selected Publications</h1>
    <p><br />
    Paxman, R. G., Carrara, D. A., Walker, P. D., &amp; Davidenko, N. (2014). <a href="Publications/Paxman_Carrara_Walker_Davidenko_JOSAA2014_SilhouetteEstimation.pdf">Silhouette Estimation.</a> <em>Journal of the Optical Society of America A, 31</em>:7, 1636-1644.</p>
    <p>Paxman, R., Walker, P., Davidenko, N. (2013). <u><a href="Publications/Paxman_Walker_Davidenko_COSI_2012.pdf">Silhouette Restoration.</a></u> Proceedings of the 2013 meeting for <em>Computational Optical Sensing and Imaging, CM2C.4</em>: 1-4. http://dx.doi.org/10.1364/COSI.2013.CM2C.4 </p>
    <p>Davidenko, N., &amp; Flusberg, S. (2012). <u><a href="Publications/DavidenkoFlusberg-Cognition-2012.pdf">Environmental inversion effects in face perception.</a></u> <em>Cognition, 123</em>(3), 442-447. doi:10.1016/j.cognition.2012.02.009.</p>
    <p>Davidenko, N., Remus D., &amp; Grill-Spector, K. (2012). <a href="Publications/Davidenko_etal_HBM_2012.pdf"><u>Face-likeness and image variability drive responses in human face-selective ventral regions</u>.</a> <em>Human Brain Mapping</em> <em>33</em>(10), 2334-2349.doi: 10.1002/hbm.21367.<br />
  </p>
    <p>Davidenko, N., Witthoft, N., Winawer, J. (2008). <u><a href="Publications/Davidenko_etal_VisCog08.pdf">Gender aftereffects in face silhouettes reveal face-specific mechanisms.</a></u> <em>Visual Cognition 16</em>, 1, 99-103.<br />
      <br />
      Davidenko, N. (2007). <u><a href="Publications/Davidenko-2007-jov-7-4-6.pdf">Silhouetted face profiles: A new methodology for face perception research.</a></u> <em>Journal of Vision 7</em>(4):6, 1-17, http://journalofvision.org/7/4/6/, doi:10.1167/7.4.6.<br />
      <br />
      Davidenko, N., &amp; Ramscar, M. (2006). <u><a href="Publications/DavidenkoRamscar_VisCog_pub.pdf">The distinctiveness effect reverses when using well-controlled distractors.</a></u> <em>Visual Cognition 14</em>, 89-92.<br />
    </p>
<p><!-- end .content --></p>
</div>
