/* Few styling segments were obtained from: http://mbostock.github.io/d3/talk/20111018/partition.html*/

body {
    margin: 0px;
}


.brain-slice {
  box-shadow: 10px 0px 10px #D4D4D4;
  min-width: 120px;
  height: auto;
}

.chart {
  display: block;
  margin: auto 0px;
  font-size: 11px;
}

#root-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

#title {
  box-shadow: 0px 0 15px #000000;
  display: flex;
  height: 80px;
  z-index: 10;
}

#icicle-row {
  box-shadow: inset 0px 0 15px #000000;
  display: flex;
  z-index: 5;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #999;
}

#icicle  {
  display: flex;
  align-self: stretch;
}

#slices-view {
  background-color: #eee;
  display: flex;
  height: 300px;
  overflow: auto;
}


#tooltip {
  display: flex;
  flex-wrap: wrap;OB
  margin: auto 0px;
  z-index: 10;.
  width: 100%;
}

#focused-slice {
  margin-top: 200px;
}


#region-description {
  margin: auto 35px;
  max-width: 300px;
}


.list-slice {
  height: 300px;
}

#description {
  min-width: 550px;
  max-width: 600px;
  z-index: 5;
}

rect {
  stroke: #eee;
  fill: #aaa;
  fill-opacity: .8;
}

rect.parent {
  cursor: pointer;
  fill: steelblue;
}

text {
  pointer-events: none;
}

#chart, #header, #footer {
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

path {
  stroke-width: 2;
  stroke: black;
}

.hover {
  stroke-width: 20;
}

#brain {
  display: flex;
  width: 300px;
}

#desription {
  min-width: 400px;
}

.node {
  fill: #ddd;
  stroke: #fff;
}

.label {
  font: 10px sans-serif;
  text-anchor: start;
}

.link {
  stroke: red;
  stroke-opacity: .5;
  fill: none;
}