{{left_sidebar_disabled=True,right_sidebar_disabled=True,('message' in globals())}}
{{extend 'exp_layout.html'}}

{{=form}}

{{
  response.files.append(URL('static', 'js/d3.v3.min.js'))
  response.include_files()
}}

<meta charset="utf-8">
<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

div.tooltip {   
  position: absolute;
  text-align: center;
  width: 120px;
  height: 90px;
  padding: 2px;
  font: 12px sans-serif;
  background: yellow;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
} 

</style>

<script>
var margin = {top: 20, right: 20, bottom: 30, left: 100},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .rangeRound([height, 0]);

var color = d3.scale.ordinal()
    .range(["#6b486b", "#98abc5", "#ff8c00" ]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".2s"));

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var zoom = d3.behavior.zoom()
  .x(x)
  .y(y)
  .scaleExtent([1,10])
  .on("zoom", zoomed);



function zoomed() {
    svg.select(".x.axis").call(xAxis);
    svg.select(".y.axis").call(yAxis);
    container.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

var tooltip = d3.select("body")
    .append('div')
    .attr("class", "tooltip")
    .style("opacity", 0);

d3.json('/Adaptation/default/getdata', function(error, data) {
     color.domain(d3.keys(data[0]).filter(function(key) { return key !== "Condition"; }));
     console.log(data);
     console.log(color.domain());
 
     data.forEach(function (d) {
         var y0 = 0;
         d.Condition = d['Condition'];
         d.scores = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
         d.total = d.scores[d.scores.length - 1].y1;
     });
     data.sort(function(a, b) { console.log(a); console.log(b); return b.total - a.total; });
   
     x.domain(data.map(function(d) { return d.Condition; }));

     console.log(x.domain());
     y.domain([0, d3.max(data, function(d) { return d.total; })]);
   
     svg.append("g")
         .attr("class", "x axis")
         .attr("transform", "translate(0," + height + ")")
         .call(xAxis);
   
     svg.append("g")
         .attr("class", "y axis")
         .call(yAxis)
       .append("text")
         .attr("x", 0)
         .attr("y", -20)
         .attr("dy", ".71em")
         .style("text-anchor", "end")
         .text("Total Ratings");
   
     var condition = svg.selectAll(".condition")
         .data(data)
       .enter().append("g")
         .attr("class", "g")
         .attr("transform", function(d) { return "translate(" + x(d.Condition) + ",0)"; });
   
     condition.selectAll("rect")
         .data(function(d) { return d.scores; })
       .enter().append("rect")
         .attr("width", x.rangeBand())
         .attr("y", function(d) { return y(d.y1); })
         .attr("height", function(d) { return y(d.y0) - y(d.y1); })
         .on('mouseover', function(d) {
             console.log("mouse over event!");
             tooltip.transition()
                 .duration(200)
                 .style("opacity", .9);
 
             tooltip.html('<table><tr><td>Male</td><td>' + d['Male'] + '</td></tr>' +
                          '<tr><td>Female</td><td>' + d['Female'] + '</td></tr>' +
                          '<tr><td>Unsure</td><td>' + d['Unsure'] + '</td></tr></table>'
                          )
                 .style("left", (d3.event.pageX) + "px")
                 .style("top", (d3.event.pageY - 28) + "px");
         })
         .on("mouseout", function(d) {
             tooltip.transition()
                 .duration(500)
                 .style("opacity", 0);
         }) 
         .style("fill", function(d) { return color(d.name); });
   
     var legend = svg.selectAll(".legend")
         .data(color.domain().slice().reverse())
       .enter().append("g")
         .attr("class", "legend")
         .attr("transform", function(d, i) { return "translate(0," + i * 30 + ")"; });
   
     legend.append("rect")
         .attr("x", width - 18)
         .attr("width", 18)
         .attr("height", 18)
         .style("fill", color);
   
     legend.append("text")
         .attr("x", width - 24)
         .attr("y", 9)
         .attr("dy", ".35em")
         .style("text-anchor", "end")
         .text(function(d) { return d; });  data.sort(function(a, b) { return b.total - a.total; });
   
     x.domain(data.map(function(d) { return d.Condition; }));
     y.domain([0, d3.max(data, function(d) { return d.total; })]);
   
     svg.append("g")
         .attr("class", "x axis")
         .attr("transform", "translate(0," + height + ")")
         .call(xAxis);
   
     var condition = svg.selectAll(".condition")
         .data(data)
       .enter().append("g")
         .attr("class", "g")
         .attr("transform", function(d) { return "translate(" + x(d.Condition) + ",0)"; });
   
     condition.selectAll("rect")
         .data(function(d) { return d.scores; })
       .enter().append("rect")
         .attr("width", x.rangeBand())
         .attr("y", function(d) { return y(d.y1); })
         .attr("height", function(d) { return y(d.y0) - y(d.y1); })
         .style("fill", function(d) { return color(d.name); });
   
     var legend = svg.selectAll(".legend")
         .data(color.domain().slice().reverse())
       .enter().append("g")
         .attr("class", "legend")
         .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

     legend.append("rect")
         .attr("x", width - 18)
         .attr("width", 18)
         .attr("height", 18)
         .style("fill", color);
   
     legend.append("text")
         .attr("x", width - 24)
         .attr("y", 9)
         .attr("dy", ".35em")
         .style("text-anchor", "end")
         .text(function(d) { return d; });       
   });
</script>
