{{extend 'layout.html'}}


<h2>Face Adaptation</h2>
<div class="preview">
  <img src="{{=URL('static', 'adaptation/images/preview.png')}}" class="rel-image"></img>
  {{=description}}
  <ul>
    <li><a type="button" href="{{=URL(studyname, 'index', vars={'preview': 'true'})}}">Preview</a></li>
    <li><a type="button" href="{{=URL(studyname, 'consent', vars={'preview': 'false'})}}">Participate</a></li>
    <li><a type "buttom" href="{{=URL(studyname, 'dashboard', vars={'viewonly': 'true'})}}">View Data</a></li>  </ul>
</div>
