<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="{{=URL('static', 'brainvisualization/brainstructure.css')}}"/>
    <script type="text/javascript" src="{{=URL('static', 'js/d3.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/d3.layout.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/jquery.js')}}"></script>
  </head>
  <body>
    <div id="root-container">
      <div id="title"><h1 style = "text-align:center;color:steelblue"><bold>Human Brain Structure Hierarchy</bold></h1></div> 
      <div id="icicle-row">
        <div id="icicle"></div>
	<div id="tooltip" class="hidden">
          <div id="brain"></div>
          <p id="region-description"></p>
        </div>
      </div>
      <div id="slices-view"></div>
    </div>
    <script type="text/javascript" src="{{=URL('static', 'brainvisualization/brainstructure.js')}}"></script>
  </body>
</html>
